<div class="page-header">
  <%= link_to new_projects_user_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Projects user
  <% end %>
  <h1>Listing projects_users</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>User</th>
            <th>Project</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @projects_users) do |projects_user| %>
            <td><%= projects_user.user %></td>
            <td><%= projects_user.project %></td>
            <td><%= link_to 'Show', projects_user %></td>
        <td><%= link_to 'Edit', edit_projects_user_path(projects_user) %></td>
        <td><%= link_to 'Destroy', projects_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
